body {
  background-attachment: fixed;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/* .bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
} */

.content {
  /* background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25); */
  margin-top: 11rem;
}
h1 {
  padding-top: 4rem;
  font-family: "Rubik", sans-serif;
  color: black;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
