/* .btn-secondary {
  width: 50px;
  height: 50px;
}

.timers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.oi {
  font-size: 17px;
}

h2,
p {
  color: white;
}

.message {
  margin-top: 3rem;
}

@media (max-width: 800px) {
  .input-group {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .input-group-append {
    padding-top: 30px;
  }
} */

.right-set {
  float: right;
}

.session-text {
  color: white;
}

.session-text-sub {
  color: white;
}

@media (max-width: 800px) {
  .right-set {
    float: left;
  }
}

@media (max-width: 800px) {
  .timers {
    padding-left: 35px;
    padding-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .session-text {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .progress {
    width: 250px;
    margin-left: 50px;
  }
}
