* {
  text-align: center;
  font-family: "Inter", sans-serif;
}

/* .App-header {
  margin-top: 1.5rem;
} */

.container {
  padding: 20px;
}

@media (max-width: 800px) {
  .heading {
    font-size: 30px;
  }
}
